@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-sans;
}

.nav-tab::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: #43a047;
  transition: width 0.3s ease;
}

.nav-tab:hover::after {
  width: 100%;
}

.nav-tab.active::after {
  width: 100%;
}

.hero-plant-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .hero-plant-image {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  }
}
